<article class="post">
  <div class="meta">
    <p>{{title}} by {{user.username}} on {{format_date created_at}}</p>
    
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <p>{{content}} </p>
</article>