

<div class="comments">
  <section class="comment" id="{{comment.id}}">
    <div class="meta">
      {{comment.user.username}} on {{format_date comment.createdAt}}
    </div>
    <div class="text">
      <textarea type="text" name="comment-body" >{{ comment.comment_text}}</textarea>
    <button type="button" class="upvote-btn " id="edit-comment-btn{{comment.id}}" >Edit comment</button>
    <button type="button"  id="delete-comment-btn{{comment.id}}">Delete comment</button>
    </div>
  </section>
</div>
<script src="/javascript/edit-delete-comment.js"></script>